AddType application/x-httpd-php56 .php
RewriteEngine On
RewriteRule ^cv$ /myCv/
RewriteRule ^cv/$ /myCv/
RewriteRule ^contact.php$ /contactInfo/ [R=301]
RewriteRule ^contact/$ /contactInfo/
RewriteRule ^contact$ /contactInfo/
RewriteRule ^testPages/login$ /login/ [R=301]
RewriteRule ^testPages/$ /login/ [R=301]
RewriteRule ^login$ /testPages/login.php
RewriteRule ^login/$ /testPages/login.php
RewriteRule ^javaGame$ /testPages/javaGame.php
RewriteRule ^javaGame/$ /testPages/javaGame.php
RewriteRule ^bin$ /testPages/htmlcssbin.php
RewriteRule ^bin/$ /testPages/htmlcssbin.php


