/*************************************************************
**************************************************************
general file styles
**************************************************************
*************************************************************/

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    /*padding-top: 20px;*/
    background-image: url("../images/indexBack.jpg");
    padding-top: 30px;
}

header {
    font-family: 'Ubuntu', sans-serif;
}


section {
    font-family: 'Merriweather', serif;
    margin-top: 7%;
    color: #000000;
}

.footer {
    padding-top: 1%;
    padding-bottom: 1px;
    margin-top: 1%;
    border-top: 1px solid #eee;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: transparent;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/*************************************************************
**************************************************************
index file styles
**************************************************************
*************************************************************/

.facebook {
    margin-top: 1%;
}

hr {
    margin-top: 1%;
    margin-bottom: 1%;
}

.dpImg {
    border-radius: 100%;
}

/*************************************************************
**************************************************************
cv file styles
**************************************************************
*************************************************************/

.topHeader{
    background-color: rgb(146,205,220);
}

.cvClass a:link,
{
    color: #0000ff;
    text-decoration: underline;
}

/* visited link */
.cvClass a:visited,
.cvClass a {
    color: #0000ff;
    text-decoration: underline;
}

/* mouse over link */
.cvClass a:hover {
    color: #0000ff;
    text-decoration: underline;
}

/* selected link */
.cvClass a:active {
    color: #0000FF;
    text-decoration: underline;
}

.skills{
    background-color: #FFFFFF;
}

.cvHr > hr{
    color: #000000;
    background-color:#000000;
    height: 2px;
}

/*************************************************************
**************************************************************
contact file styles
**************************************************************
*************************************************************/

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
}

.contact-info a {
    display: block;
    min-height: 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0 0 0 30px;
    margin: 0 0 10px;
}

.contact-info li.phone a {
    background-image: url('../images/icons/phoneIcon.png');
}

.contact-info li.mail a {
    background-image: url('../images/icons/mailIcon.png');
}

.contact-info li.twitter a {
    background-image: url('../images/icons/twitterIcon.png');
}

.contact-info li.facebook a {
    background-image: url('../images/icons/facebookIcon.png');
}

.contact-info li.github a {
    background-image: url('../images/icons/githubIcon.png');
}

.contact-info li.googlePlus a {
    background-image: url('../images/icons/googlePlusIcon.png');
}

.contact-info li.linkedIn a {
    background-image: url('../images/icons/linkedinIcon.png');
}

.contact-info li.skype a {
    background-image: url('../images/icons/skypeIcon.png');
}

.contact-info li.youtube a {
    background-image: url('../images/icons/youtubeIcon.png');
}

/*************************************************************
**************************************************************
javaGame.php file styles
**************************************************************
*************************************************************/

#box {
    width : 200px;
    height: 200px;
    background-color: red;
    display: none;
    position: relative;
}
.bold {
    font-weight: bold;
}